<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>Signin Template · Bootstrap v5.2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="navbar-top-fixed.css" rel="stylesheet">
    <style>
    </style>
    <!-- Custom styles for this template -->
    <link href="headers.css" rel="stylesheet" type="text/css">
    <link href="tarjeta.css" rel="stylesheet" type="text/css">
  </head>

  <body class="text-center">
<main>
  <header class="py-3 mb-3 border-bottom">

<div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="logoPKB.png" alt="" width="50">
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item active" href="/" aria-current="page">Home</a></li>
      <!--<li><a class="dropdown-item" href="#">Tipos</a>
        <ul>
          <li><a class="dropdown-item" href="#">Electrico</a>
        </ul>
      </li>
      <li><a class="dropdown-item" href="#">Naturalezas</a>
        <ul>
          <li><a class="dropdown-item" href="#">Afable</a>
        </ul>
      </li>
      <li><hr class="dropdown-divider"></li>-->
    </ul>
  </div>

  <div class="d-flex align-items-center">
    <form class="w-100 me-3" role="search">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>

    <div class="flex-shrink-0 dropdown">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small shadow">
        <!--Modulo sensible a Inicio de Sesión-->
        <% if(user){%>        
          <li><a class="dropdown-item" href="/profile">Perfil</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/RegistrarPoke">Registrar Pokemon</a></li>
          <!--<li><hr class="dropdown-divider"></li>-->
          <%} else {%>
        <li><a class="dropdown-item" href="/inicioSesion">Iniciar Sesion</a></li>
        <li><a class="dropdown-item" href="/Registro">Registrarse</a></li>        
          <% }%>
        <!--<li><a class="dropdown-item" href="/tablasPokemon">Mostrar Pokemon</a></li>-->
        <% if(user){%>  
        <li><hr class="dropdown-divider"></li>        
        <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
</header>
</main>
<main class="form-signin w-100 m-auto">

  <header class="text-center">
    <h1>Lista de Pokemon</h1>
    <hr>
    <table>
      <tr>
        <th scope="col"></th>
        <th scope="col">Número</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo(s)</th>
        <th scope="col"></th>
        <th scope="col">Naturaleza</th>
      </tr>
      <div class="container">
          <div class="card">
              <tbody>
                <% listaPoke.forEach(poke => { %>
                  <tr>
                    <td><img src=<%= poke.idp %>.png alt=""></td>
                    <td><%= poke.idp %></td>
                    <td><button type="submit" class="btn btn-link" data-bs-toggle="modal" 
                      data-bs-target="#exampleModal-<%= poke._id %>"><%= poke.nombre %></button></td>
                      
                    <td><%= poke.tipo %></td>
                    <td><%= poke.tipo2 %></td>
                    <td><%= poke.natura %></td>
                  </tr>
                <% }) %>
              </tbody>

          </div>
      </div>
    </table>
  </header>
  <!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
-->

<!-- Modal -->
<!--INICIO DE TESTEO-->
<% listaPoke.forEach(poke => { %>
<div class="modal fade" id="exampleModal-<%= poke._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
                <div class="col-sm-4 bg-c-lite-green user-profile">
                    <div class="card-block text-center text-white">
                        <div class="m-b-25">
                            <img src=<%= poke.idp %>.png alt="" class="img-radius" alt="User-Profile-Image", height="500px", width="500px">
                        </div>
                        <h6 class="f-w-600"></h6>
                        <p></p>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card-block">
                      
                      
                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600"><%= poke.nombre%></h6>
                        <h6 class="m-b-20 p-b-5 "> </h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">PS</p>
                                <h6 class="text-muted f-w-400"><%= poke.ps %></h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Velocidad</p>
                                <h6 class="text-muted f-w-400"><%= poke.vel%></h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Ataque</p>
                                <h6 class="text-muted f-w-400"><%= poke.atq%></h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Defensa</p>
                                <h6 class="text-muted f-w-400"><%= poke.def%></h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Ataque Esp</p>
                                <h6 class="text-muted f-w-400"><%= poke.atq_esp%></h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Defensa Esp</p>
                                <h6 class="text-muted f-w-400"><%= poke.def_esp%></h6>
                            </div>
                        </div>

                        <div class="row">
                            <div class="row-sm-6">
                                <p class="m-b-10 f-w-600 b-b-default">Evento</p>
                                  <input type="checkbox" checked disabled >Si
                            </div>
                            <div class="row-sm-6">
                                <p class="m-b-10 f-w-600 b-b-default" >Codigo Canjeable</p>
                                <input type="checkbox"  disabled >Si
                            </div>
                            <div class="row-sm-6">
                                <p class="m-b-10 f-w-600 b-b-default">Promo</p>
                                <input type="checkbox"  disabled >Si
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% }) %> <!--FIN DE TESTEO-->

</main>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>
